body {
  background-color: #f7dbe4;
  font-family: 'Lato', sans-serif;
}

.pokemon-menu {
  display: block;
  min-width: 150px;
  height: 92vh;
  background-color: #ffffff;
  overflow: scroll;
}

.button-class {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 10px;
  color: #000;
  border: #c53664 solid 1px;
  background-color: #f7dbe4;
  font-weight: bold;
  text-transform: capitalize;
}
.button-class:hover,
.button-class:focus,
.button-class:active {
  transition: 0.25s;
  background-color: #f7c7d6;
  padding: 13px;
}
.pokemon-menu ul li:last-child .button-class {
  margin-bottom: 10px;
}

.pokemon-info {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
